@model ApplicationUser
@{
    ViewData["Title"] = "معلومات المستخدم";
}
<div class="main-content my-4">
    <div class="container">
        <partial name="_UserCard" model="@Model" />
    </div>
</div>