
@model License
@{
    ViewData["Title"] = "معلومات لرخصة الدولية";
}
<div class="main-content mt-4">
    <div class="container">
        <partial name="_LicenseInfo" model="@Model" />
    </div>
</div>
