@model InternationalLicense
@{
    ViewData["Title"] = "معلومات الرخصة الدولية";
}
<div class="main-content mt-4">
    <div class="container">
        <partial name="_InternationalLicenseInfo" model="@Model" />
    </div>
</div>