<div class="card bg-white mt-3 shadow border-0 rounded position-relative">
    <div class="card-header bg-primary p-3 text-white">
        <h5 class="mb-0">رخصة قيادة محلية</h5>
    </div>
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="mb-3">
                    <i class="fa-solid fa-id-card fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">فئة الرخصة : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-person fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">أسم الشخص : </label>
                    <span class="text-primary fw-semibold">???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-hashtag fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">رقم الرخصة : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-hashtag fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">الرقم الوطني : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-person-half-dress fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">الجنس : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-calendar-days fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">تاريخ الإصدار : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-id-card fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">سبب الإصدار : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-note-sticky fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">ملاحظات : </label>
                    <span>???</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <i class="fa-solid fa-id-card fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">الرخصة نشطة : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-calendar-days fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">تاريخ الميلاد : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-person fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">معرف السائق : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-calendar-days fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">تاريخ انتهاء الصلاحية : </label>
                    <span>???</span>
                </div>
                <div class="mb-3">
                    <i class="fa-solid fa-id-card fa-fw fa-lg me-2 icon-primary"></i>
                    <label class="fw-semibold">الرخصة محجوزة : </label>
                    <span>???</span>
                </div>
            </div>
        </div>
    </div>

    <img class="license-background" src="/images/License/License-background.png" />
</div>